.window {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.cities {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 100%;
}
.cities ul {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    list-style: none;
    justify-content: center;
    align-items: center;
    gap: 40px;
}
.cities ul li {
    width: 80%;
    height: 10%;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}